.counter {
  display: flex;
  font-size: 100px;
  color: aliceblue;
  background-color: rgb(58, 97, 97);
  height: 40vh;
  text-align: center;
  flex-direction: column;
  padding: 2em;
}

.counter button {
  margin: 0 auto;
  width: 50%;
  color: aliceblue;
  background-color: rgb(31, 54, 54);
}

.counter button:hover {
  background-color: rgb(50, 87, 87);
  cursor: pointer;
}

.increase,
.decrease {
  height: 75px;
  font-size: 50px;
  margin: 0.5em;
}
